<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel ="stylesheet" href="css/hover-min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <h1 class="animate__animated animate__bounce"><a href="/">Book Review Blog</a></h1>
      <div>
        {{#if logged_in}}
          <a href="/profile" class="button hvr-grow">Profile</a>
          <button id="logout" class="btn-logout hvr-grow">Logout</button>
        {{else}}
          <a href="/login" class="btn-login hvr-grow">Login</a>
        {{/if}}
      </div>
    </nav>
  </header>

  <main class="container">
    {{{ body }}}
  </main>

  <footer>
    <p>&copy; 2024 Book Review Blog. All rights reserved.</p>
  </footer>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>