<section class="auth">
  <div class="login">
    <h2>Login</h2>
    <form class="login-form">
      <div>
        <label for="email-login">Email:</label>
        <input type="email" id="email-login" name="email">
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" name="password">
      </div>
      <button type="submit">Login</button>
    </form>
  </div>

  <div class="signup">
    <h2>Signup</h2>
    <form class="signup-form">
      <div>
        <label for="name-signup">Name:</label>
        <input type="text" id="name-signup" name="name">
      </div>
      <div>
        <label for="email-signup">Email:</label>
        <input type="email" id="email-signup" name="email">
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" name="password">
      </div>
      <button type="submit">Signup</button>
    </form>
  </div>
</section>
